<!DOCTYPE html>
<html>
    <head>
        <title>World Cup 2018 Challenge</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    </head>
    <body>
        <nav>
            <div class="float-left">
                <img src="/images/header_left.png">
                <img class="cup" src="/images/254645_w.png">
                <span>World Cup 2018 Challenge</span>
            </div>
            <div class="float-right">
                <img src="/images/header_right.png">
            </div>
        </nav>

        <div class="container">
            <h1>League Table</h1>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Manager</th>
                    <th scope="col">Line Up</th>
                    <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Andrew Thomson</td>
                        <td class="flags">
                            <img src="/images/flags/russia.png" alt="russia">
                            <img src="/images/flags/spain.png" alt="spain">
                            <img src="/images/flags/portugal.png" alt="portugal">
                        </td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Andrew Thomson</td>
                        <td class="flags">
                            <img src="/images/flags/russia.png" alt="russia">
                            <img src="/images/flags/spain.png" alt="spain">
                            <img src="/images/flags/portugal.png" alt="portugal">
                        </td>
                        <td>99</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Andrew Thomson</td>
                        <td class="flags">
                            <img src="/images/flags/russia.png" alt="russia">
                            <img src="/images/flags/spain.png" alt="spain">
                            <img src="/images/flags/portugal.png" alt="portugal">
                        </td>
                        <td>99</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>